<a href="https://colab.research.google.com/github/eL-Toxique/PayloadsAllTheThings/blob/master/Practice_Set_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program to print the following sentence: "Python programming is fun!"

In [1]:
print("Python programming is fun!")

Python programming is fun!

Create a variable name and assign it your name as a string. Print "Hello, my name is name!"

In [5]:
name = "Linda"
print(f"Hello,my name is {name}!")

Hello,my name is Linda!

Write a Python program to calculate the sum of 123 and 456 and print the result.

In [6]:
sum = 123 +456
print(sum)

579

Create two variables a and b with values 20 and 10 respectively. Print the result of their multiplication.

In [7]:
a = 20
b = 10
print(a*b)

200

Create a variable age and assign it your age. Print a sentence stating your age using an f-string.

In [8]:
age = 28
print(f"My age is",age)

My age is 28

Create a variable salary and assign it a value. Calculate a 10% bonus of the salary and print the final amount after adding the bonus to the original salary.

In [18]:
salary = 20000
bonus = salary * 0.1
final_amount = salary + bonus
print(f"Final_amount is",final_amount)

Final_amount is 22000.0

Create a list of your five favorite fruits. Write a for loop to print each fruit in the list

In [19]:
fruits = "Kiwi", "Apples","Mangoes","Bananas","Oranges"
for fruit in fruits:
  print(fruit)

Kiwi
Apples
Mangoes
Bananas
Oranges

Create a list of five numbers. Write a Python program to calculate and print the sum of these numbers using a for loop.

In [20]:
numbers = [30,70,40,50,20]
for number in numbers:
  sum =sum + number
  print(sum)

609
679
719
769
789

Write a Python program that checks if a number stored in the variable num is positive, negative, or zero and prints an appropriate message.

In [21]:
num = 0
if num > 0:
  print("Number is positive")
elif num < 0:
  print("Number is negative")
else:
  print("Number is zero")

Number is zero

Write a Python program that takes a variable grade and prints "Pass" if the grade is 50 or higher and "Fail" otherwise.

In [23]:
grade = 0
if grade > 50:
  print("Pass")
else:
  print("Fail")

Fail

Create a dictionary named student with keys name, age, and grade. Assign appropriate values to these keys. Print the dictionary.

In [24]:
student ={"Name":"Linda", "Age":"28","Grade":"B"}
print(student)

{'Name': 'Linda', 'Age': '28', 'Grade': 'B'}

Update the grade value in the student dictionary and print the updated dictionary.

In [26]:
student["Grade"] = "A"

Create a tuple named dimensions with three elements representing the length, width, and height of a box. Print the second element of the tuple.

In [27]:
dimensions = (40,20,60)
print(dimensions[1])

20

Create a set named colors with elements "red", "green", and "blue". Add the color "yellow" to the set and print the updated set.

In [28]:
colours = {"Red","Green","Blue"}
colours.add("Yellow")
print(colours)

{'Yellow', 'Red', 'Green', 'Blue'}

Write a function named greet that takes a name as an argument and prints "Hello, name!". Call this function with your name.

In [42]:
def greet(name):
  print(f"Hello, {name}!")
  name = "Linda"
  greet(Linda)

Write a function named calculate_area that takes the radius of a circle as an argument and returns the area of the circle. Use this function to calculate and print the area of a circle with a radius of 5.

In [41]:
def calculate_area(radius):
  area = 3.142 * radius ** 2
  return area
  radius = 5
  print(calculate_area(5))